.main-review-footer
  padding-bottom: 65px
  h2
    margin-bottom: 25px
  .online-order
    display: flex
    align-items: center
    justify-content: space-around
    margin-bottom: 40px
    +md
      margin-bottom: 0
    input
      border: none
      background: #f4f5f8
      padding: 14px 16px
      border-radius: 4px
      line-height: 20px
      color: $gray
      width: 70%
      +sm
        width: 59%
    &_review
      justify-content: space-between
      input
        background: $white
        +xl
          width: 88%

    button
      padding: 16px 25px
      color: $white
      line-height: 16px
      font-weight: 600
      border-radius: 4px
      background: $blue
      border: none
      cursor: pointer
  .site
    display: inline-flex
    align-items: center
    justify-content: center
    width: 100%
    line-height: 20px
    background: $blue
    color: $white
    border-radius: 4px
    padding: 14px 
    &_review
      +md
        margin-top: 50px