.select-menu-mess
  img
    width: 17px !important
.function-mess
  background: $white
  height: 100%
  box-shadow: 0 2px 4px -1px rgba(20, 16, 41, 0.06), 0 12px 24px rgba(20, 16, 41, 0.06)
  padding: 38px 90px 115px 32px
  max-width: 535px
  width: 100%
  overflow-y: auto
  +md
    padding: 22px 22px 115px 14px
  .top
    margin-bottom: 48px !important  
  .input-mess
    display: flex
    align-items: flex-end
    margin-bottom: 32px
    +md
      flex-wrap: wrap
    .select-drop-mess
      +md
        width: 100% !important
      img
        width: 16px !important
    
    .del
      width: 52px
      height: 48px
      box-shadow: 0 8px 8px -4px rgba(20, 16, 41, 0.06), 0 2px 4px -1px rgba(20, 16, 41, 0.06), 0 0 1px rgba(20, 16, 41, 0.12)
      background: $white
      border-radius: 4px
      cursor: pointer
      display: flex
      align-items: center
      justify-content: center
      flex-shrink: 0
      +md
        margin-left: 8px
  .input-wrapper
    margin-bottom: 0
    .input
      padding: 12px 24px 11px 24px
    &.input-name
      width: 259% !important
      margin: 0 8px
      +md
        margin: 8px 0 0 0
        width: 100%
        order: 5
    &.input-social
      width: calc(100% - 60px)
    .placeholder
      margin-left: 0
    .select-drop-mess
      width: 96px !important
      padding: 15px 14px 14px 14px
  .bottom-bnts
    margin-bottom: 100px
    button
      padding: 14px 16px
      &:not(:last-child)
        margin-right: 16px