extends ./pug/layout/layout.pug

block vars
  -var page = 'applications';
  -var title = 'Applications';

block content
  section.main-applications-header
    .container
      .content
        .text
          p.title Мои заявки
        .btns
          button.btn-blue Смотреть заявки
  section.main-applications-section
    .container
      .table
        .table-titles
          span.title.date Дата
          span.title Товар
          span.title.short Цена
          span.title Покупатель
          span.title Телефон
          span.title Email
          span.title.status Статус заказа
        .table-lines
          .line
            span.cell.date
              span.title-mobile Дата
              span.cell-data 06/02/2019
            span.cell
              span.title-mobile Товар
              span.cell-data Доставка цветов
            span.cell.short
              span.title-mobile Цена
              span.cell-data 252 руб.
            span.cell
              span.title-mobile Покупатель
              span.cell-data Мария Иванова
            span.cell
              span.title-mobile Телефон
              span.cell-data +79525821423
            span.cell
              span.title-mobile Email
              span.cell-data maria.love@mail.ru
            span.cell.status.new
              span.title-mobile Статус заказа
              span.cell-data Новая
          .line
            span.cell.date
              span.title-mobile Дата
              span.cell-data 06/02/2019
            span.cell
              span.title-mobile Товар
              span.cell-data Доставка цветов
            span.cell.short
              span.title-mobile Цена
              span.cell-data 252 руб.
            span.cell
              span.title-mobile Покупатель
              span.cell-data Мария Иванова
            span.cell
              span.title-mobile Телефон
              span.cell-data +79525821423
            span.cell
              span.title-mobile Email
              span.cell-data maria.love@mail.ru
            span.cell.status.account
              span.title-mobile Статус заказа
              span.cell-data Выставлен счет
          .line
            span.cell.date
              span.title-mobile Дата
              span.cell-data 06/02/2019
            span.cell
              span.title-mobile Товар
              span.cell-data Доставка цветов
            span.cell.short
              span.title-mobile Цена
              span.cell-data 252 руб.
            span.cell
              span.title-mobile Покупатель
              span.cell-data Мария Иванова
            span.cell
              span.title-mobile Телефон
              span.cell-data +79525821423
            span.cell
              span.title-mobile Email
              span.cell-data maria.love@mail.ru
            span.cell.status.angry
              span.title-mobile Статус заказа
              span.cell-data Недозвон
          .line
            span.cell.date
              span.title-mobile Дата
              span.cell-data 06/02/2019
            span.cell
              span.title-mobile Товар
              span.cell-data Доставка цветов
            span.cell.short
              span.title-mobile Цена
              span.cell-data 252 руб.
            span.cell
              span.title-mobile Покупатель
              span.cell-data Мария Иванова
            span.cell
              span.title-mobile Телефон
              span.cell-data +79525821423
            span.cell
              span.title-mobile Email
              span.cell-data maria.love@mail.ru
            span.cell.status.new
              span.title-mobile Статус заказа
              span.cell-data Новая 
          .line
            span.cell.date
              span.title-mobile Дата
              span.cell-data 06/02/2019
            span.cell
              span.title-mobile Товар
              span.cell-data Доставка цветов
            span.cell.short
              span.title-mobile Цена
              span.cell-data 252 руб.
            span.cell
              span.title-mobile Покупатель
              span.cell-data Мария Иванова
            span.cell
              span.title-mobile Телефон
              span.cell-data +79525821423
            span.cell
              span.title-mobile Email
              span.cell-data maria.love@mail.ru
            span.cell.status.new
              span.title-mobile Статус заказа
              span.cell-data Новая 
          .line
            span.cell.date
              span.title-mobile Дата
              span.cell-data 06/02/2019
            span.cell
              span.title-mobile Товар
              span.cell-data Доставка цветов
            span.cell.short
              span.title-mobile Цена
              span.cell-data 252 руб.
            span.cell
              span.title-mobile Покупатель
              span.cell-data Мария Иванова
            span.cell
              span.title-mobile Телефон
              span.cell-data +79525821423
            span.cell
              span.title-mobile Email
              span.cell-data maria.love@mail.ru
            span.cell.status.new
              span.title-mobile Статус заказа
              span.cell-data Новая 
          
        .pagination
          span.icon-arrow-d.arrow.arrow-prev
          span.num 1
          span.num 2
          span.num 3
          span.num ...
          span.num 15
          span.icon-arrow-d.arrow.arrow-next


