extends ./pug/layout/layout.pug

block vars
  -var page = 'review main-edit';
  -var title = 'Edit';

block content
  section.mobile-slider
    .slider-wrapper.js-slider-wrapper
      a(href="").item Создание мультиссылки
      a(href="").item.item_active Товары
      a(href="").item Прием платежей



  section.top-btns.edit-top-btns
    .container
      .content
        .title
          p.emp Мультиссылка
          span Конструктор мини-сайта
        .btns
          a(href="").btn-white.btn-desktop Просмотр
          a(href="").btn-white.btn-desktop Редактировать
          a(href="").btn-blue.btn-desktop Сохранить
          a(href="").btn-mobile 
            i.fa.fa-pencil(aria-hidden="true")
          a(href="").btn-mobile 
            i.fa.fa-eye(aria-hidden="true")
          a(href="").btn-mobile.btn-mobile_check
            img(src="./img/check.svg", alt="")

  .wrapper-for-bg
    section.main-review-header.main-edit-header
      .container
        .nav
          .edit-item
            span.icon-del
          .nav-links
            a(href="").nav-link.nav-link_50 Главная
            .nav-drop-link.nav-link_50
              .wrapper.js-drop-link-2
                span Товары
                img(src="./img/arrow-down.svg", alt="").arrow
              .drop-menu.js-drop-menu-2
                .drop-links
                  a(href="").nav-link Item
                  a(href="").nav-link Item
                  a(href="").nav-link Item
                  a(href="").nav-link Item

            a(href="").nav-link.nav-link_30 Отзывы
            a(href="").nav-link.nav-link_30 Фото
            a(href="").nav-link.nav-link_30 Контакты
          .edit-items-wrapper
            .edit-item.js-edit-menu-func
              span.icon-settings
            .edit-item
              span.icon-copy
        .main-edit-icon.edit-section
          .top-edit
            +editors('left')
            h2 Аватарка мини-сайта
            +editors('right', 'js-edit-avatar-func')
          .row.justify-content-center
            .col-xl-7
              .profile-icon
                .desc.desc_mobile
                  p.text Загрузите квадратное изображение выбрав его на компьютере или перетищите картинку в эту область
                img(src="./img/profile.jpg", alt="").profile-img
                .desc.desc_desktop
                  p.text.text_desktop Загрузите квадратное изображение выбрав его на компьютере или перетищите картинку в эту область
                  input#icon(type="file", name="")
                  label(for="icon") Загрузить


        +addBlock

        .text-block.edit-section
          .top-edit
            +editors('left')
            h2 Текстовый блок
            +editors('right', 'js-edit-text-func')
          p.text.
            Компания "Цветы Мира" занимается доставкой экзатических цветов и авторских букетов по всей Москве и Московской области. Мы можем привезти цветы в точно указанное время и предложим варианты оригинального поздравления или предложения руки и сердца

        +addBlock

    //- Contact us  adapted = true
    section.main-review-contact.main-edit-contact 
      .container
        .content.edit-section
          .top-edit
            +editors('left')
            h2 Мессенджеры
            +editors('right', 'js-edit-mess-func')
          .social-icons
            -var i = 1;
            while i < 8
              a(href="").social-link
                img(src=`./img/social-${i}.svg`, alt="")
              -i++

        +addBlock

        .separator-wrapper.edit-section
          .top-edit
            +editors('left')
            h2 Разделить
            +editors('right')
          .separator

        +addBlock
            
          
    //- Slider  adapted = true
    section.main-review-slider.main-edit-slider
      .container
        .content.edit-section
          .top-edit
            +editors('left')
            h2 Изображение
            +editors('right', 'js-edit-image-func')
          .row.justify-content-center
            .col-xl-6
              .slider.js-slider
                .slide
                  img(src="./img/slider.jpg", alt="")
                .slide
                  img(src="./img/slider.jpg", alt="")
                .slide
                  img(src="./img/slider.jpg", alt="")
                .slide
                  img(src="./img/slider.jpg", alt="")
                .slide
                  img(src="./img/slider.jpg", alt="")
              .controls
                .arrows
                  button.arrow.prev.js-prev-btn
                    img(src="./img/arrow-down.svg", alt="")
                  button.arrow.next.js-next-btn
                    img(src="./img/arrow-down.svg", alt="")

        +addBlock

    //- Video  adapted = true
    section.main-review-video.main-edit-video
      .container
        .content.edit-section
          .top-edit
            +editors('left')
            h2 Видео
            +editors('right', 'js-edit-video-func')
          .row.justify-content-center
            .col-xl-6
              .video.js-video
                .bg
                  img(src="./img/play.svg", alt="").play
                video(src="")

        +addBlock

    //- Pixel  adapted = true
    section.main-review-pixel.main-edit-pixel
      .container
        .content.edit-section
          .top-edit
            +editors('left')
            h2 Пиксель FB*
            +editors('right', 'js-edit-pixel-func')
          p.edit-text.edit-text_pixel #[span Счетчик id5163262] #[span установлен и работает]

        +addBlock


    //- Sell  adapted = true
    section.main-review-sell.main-edit-sell
      .container
        .content.edit-section
          .top-edit
            +editors('left')
            h2 Товары
            +editors('right', 'js-edit-goods-func')
          p.edit-text Розница
          .row.justify-content-center
            .col-xl-6.col-lg-6.col-md-6.col-sm-6.col-6
              .item
                .img
                  img(src="./img/flower.jpg", alt="")
                .text-block
                  p.title Доставка цветов опт
                  p.text.
                    Доставка цветов в любой район города Москвы. Поможем собрать букет и дополнить его уникальным подарком, который никого не оставит равнодушным.
                  .order
                    a(href="").btn-order Заказать
                    .price
                      span.old 500₽
                      span.new 500₽
            .col-xl-6.col-lg-6.col-md-6.col-sm-6.col-6
              .item
                .img
                  img(src="./img/flower.jpg", alt="")
                .text-block
                  p.title Доставка цветов опт
                  p.text.
                    Доставка цветов в любой район города Москвы. Поможем собрать букет и дополнить его уникальным подарком, который никого не оставит равнодушным.
                  .order
                    a(href="").btn-order Заказать
                    .price
                      span.old 500₽
                      span.new 500₽

        +addBlock


    //- Add custom block  adapted = true
    +customBlock

    //- Cards  adapted = 
    section.main-review-cards.main-edit-cards
      .container
        .content.edit-section
          .top-edit
            +editors('left')
            h2 Товары
            +editors('right', 'js-edit-goods-func')
          p.edit-text Розница
          .row
            .col-xl-3.col-lg-3.col-md-3.col-sm-6.col-6
              .item
                img(src="./img/small-flower.jpg", alt="")
                p.title Доставка цветов опт
                .price
                  span.old 500₽
                  span.new 500₽
                a(href="").btn-order Заказать
            .col-xl-3.col-lg-3.col-md-3.col-sm-6.col-6
              .item
                img(src="./img/small-flower.jpg", alt="")
                p.title Доставка цветов опт
                .price
                  span.old 500₽
                  span.new 500₽
                a(href="").btn-order Заказать
            .col-xl-3.col-lg-3.col-md-3.col-sm-6.col-6
              .item
                img(src="./img/small-flower.jpg", alt="")
                p.title Доставка цветов опт
                .price
                  span.old 500₽
                  span.new 500₽
                a(href="").btn-order Заказать
            .col-xl-3.col-lg-3.col-md-3.col-sm-6.col-6
              .item
                img(src="./img/small-flower.jpg", alt="")
                p.title Доставка цветов опт
                .price
                  span.old 500₽
                  span.new 500₽
                a(href="").btn-order Заказать
            .col-xl-3.col-lg-3.col-md-3.col-sm-6.col-6
              .item
                img(src="./img/small-flower.jpg", alt="")
                p.title Доставка цветов опт
                .price
                  span.old 500₽
                  span.new 500₽
                a(href="").btn-order Заказать
            

        +addBlock

    //- Footer  adapted = 
    section.main-review-footer.main-edit-footer
      .container
        .content.edit-section
          .top-edit
            +editors('left')
            h2 Оплата
            +editors('right', 'js-edit-pay-func')
          p.edit-text Заказ цветов на дом
          .row.justify-content-center
            .col-xl-6
              form(action="").online-order
                input(type="text", name="")
                button Оплатить

        +addBlock


    //- Site  adapted = 
    section.main-edit-site
      .container
        .content.edit-section
          .top-edit
            +editors('left')
            h2 Ссылка
            +editors('right', 'js-edit-link-func')
          a(href="").site Наш сайт

        +addBlock


    //- Messengers  adapted = true
    section.messengers
      .container
        .content.edit-section.blue
          .top-edit
            +editors('left')
            h2 Мессенджеры
            +editors('right')
          p.edit-text.edit-text_module Модуль "Мессенджеры" не отображается. Завершите настройку
          button.sett Настроить

        +addBlock

    //- Messengers  adapted = true
    section.messengers
      .container
        .content.edit-section.red
          .top-edit
            +editors('left')
            h2 Сменить тариф
            +editors('right')
          p.edit-text.edit-text_module Модуль "Мессенджеры" не отображается. Завершите настройку
          button.sett Настроить

        +addBlock


    //- Add custom block  adapted = true
    +customBlock


  include ./pug/text-block.pug
  include ./pug/image.pug
  include ./pug/video.pug
  include ./pug/pixel.pug
  include ./pug/menu.pug
  include ./pug/pay.pug
  include ./pug/avatar.pug
  include ./pug/link.pug
  include ./pug/messengers.pug
  include ./pug/goods.pug
  



