extends ./pug/layout/layout.pug

block vars
  -var page = 'review main-edit';
  -var title = 'Edit';

block content
  section.top-btns.edit-top-btns
    .container
      .content
        .title
          p.emp Мультиссылка
          span Конструктор мини-сайта
        .btns
          a(href="").examine Просмотр
          a(href="").examine Редактировать
          a(href="").save Сохранить

  .wrapper-for-bg
    section.main-review-header.main-edit-header
      .container
        .nav
          .edit-item
            span.icon-del
          .nav-links
            a(href="").nav-link Главная
            .nav-drop-link
              .wrapper
                span Товары
                img(src="./img/arrow-down.svg", alt="").arrow
              .drop-menu
            a(href="").nav-link Отзывы
            a(href="").nav-link Фотогаллерея
            a(href="").nav-link Контакты
          .edit-items-wrapper
            .edit-item
              span.icon-settings
            .edit-item
              span.icon-copy
        .profile-sec
          img(src="./img/profile.jpg", alt="").profile-sec-icon

        +addBlock

        .text-block.edit-section
          .top-edit
            +editors('left')
            h2 Текстовый блок
            +editors('right')
          p.text.
            Компания "Цветы Мира" занимается доставкой экзатических цветов и авторских букетов по всей Москве и Московской области. Мы можем привезти цветы в точно указанное время и предложим варианты оригинального поздравления или предложения руки и сердца

        +addBlock

    //- Contact us  adapted = 
    section.main-review-contact.main-edit-contact 
      .container
        .content.edit-section
          .top-edit
            +editors('left')
            h2 Мессенджеры
            +editors('right')
          .social-icons
            -var i = 1;
            while i < 7
              a(href="").social-link
                img(src=`./img/social-${i}.svg`, alt="")
              -i++

        +addBlock

        .separator-wrapper.edit-section
          .top-edit
            +editors('left')
            h2 Разделить
            +editors('right')
          .separator

        +addBlock
            
          
    //- Slider  adapted = 
    section.main-review-slider.main-edit-slider
      .container
        .content.edit-section
          .top-edit
            +editors('left')
            h2 Изображение
            +editors('right')
          .row.justify-content-center
            .col-xl-6
              .slider.js-slider
                .slide
                  img(src="./img/slider.jpg", alt="")
                .slide
                  img(src="./img/slider.jpg", alt="")
                .slide
                  img(src="./img/slider.jpg", alt="")
                .slide
                  img(src="./img/slider.jpg", alt="")
                .slide
                  img(src="./img/slider.jpg", alt="")
              .controls
                .arrows
                  button.arrow.prev.js-prev-btn
                    img(src="./img/arrow-down.svg", alt="")
                  button.arrow.next.js-next-btn
                    img(src="./img/arrow-down.svg", alt="")

        +addBlock

    //- Video  adapted = 
    section.main-review-video.main-edit-video
      .container
        .content.edit-section
          .top-edit
            +editors('left')
            h2 Видео
            +editors('right')
          .row.justify-content-center
            .col-xl-6
              .video.js-video
                .bg
                  img(src="./img/play.svg", alt="").play
                video(src="")

        +addBlock

    //- Pixel  adapted = 
    section.main-review-pixel.main-edit-pixel
      .container
        .content.edit-section
          .top-edit
            +editors('left')
            h2 Пиксель FB*
            +editors('right')
          p.edit-text Счетчик id5163262 установлен и работает

        +addBlock


    //- Sell  adapted = 
    section.main-review-sell.main-edit-sell
      .container
        .content.edit-section
          .top-edit
            +editors('left')
            h2 Товары
            +editors('right')
          p.edit-text Розница
          .row.justify-content-center
            .col-xl-6
              .item
                .img
                  img(src="./img/flower.jpg", alt="")
                .text-block
                  p.title Доставка цветов опт
                  p.text.
                    Доставка цветов в любой район города Москвы. Поможем собрать букет и дополнить его уникальным подарком, который никого не оставит равнодушным.
                  .order
                    a(href="").btn-order Заказать
                    .price
                      span.old 500₽
                      span.new 500₽

        +addBlock


    //- Add custom block  adapted = 
    +customBlock


    //- Cards  adapted = 
    section.main-review-cards.main-edit-cards
      .container
        .content.edit-section
          .top-edit
            +editors('left')
            h2 Товары
            +editors('right')
          p.edit-text Розница
          .cards
            .item
              img(src="./img/small-flower.jpg", alt="")
              p.title Доставка цветов опт
              .price
                span.old 500₽
                span.new 500₽
              a(href="").btn-order Заказать
            .item
              img(src="./img/small-flower.jpg", alt="")
              p.title Доставка цветов опт
              .price
                span.old 500₽
                span.new 500₽
              a(href="").btn-order Заказать
            .item
              img(src="./img/small-flower.jpg", alt="")
              p.title Доставка цветов опт
              .price
                span.old 500₽
                span.new 500₽
              a(href="").btn-order Заказать
            .item
              img(src="./img/small-flower.jpg", alt="")
              p.title Доставка цветов опт
              .price
                span.old 500₽
                span.new 500₽
              a(href="").btn-order Заказать

        +addBlock

    //- Footer  adapted = 
    section.main-review-footer.main-edit-footer
      .container
        .content.edit-section
          .top-edit
            +editors('left')
            h2 Оплата
            +editors('right')
          p.edit-text Заказ цветов на дом
          .row.justify-content-center
            .col-xl-6
              form(action="").online-order
                input(type="text", name="")
                button Оплатить

        +addBlock


    //- Site  adapted = 
    section.main-edit-site
      .container
        .content.edit-section
          .top-edit
            +editors('left')
            h2 Ссылка
            +editors('right')
          a(href="").site Наш сайт

        +addBlock


    //- Messengers  adapted = 
    section.messengers
      .container
        .content.edit-section.blue
          .top-edit
            +editors('left')
            h2 Мессенджеры
            +editors('right')
          p.edit-text Модуль "Мессенджеры" не отображается. Завершите настройку
          button.sett Настроить

        +addBlock

    //- Messengers  adapted = 
    section.messengers
      .container
        .content.edit-section.red
          .top-edit
            +editors('left')
            h2 Сменить тариф
            +editors('right')
          p.edit-text Модуль "Мессенджеры" не отображается. Завершите настройку
          button.sett Настроить

        +addBlock


    //- Add custom block  adapted = 
    +customBlock



