extends ./pug/layout/layout.pug

block vars
  -var page = 'ideas';
  -var title = 'Ideas';

block content
  section.main-ideas-header
    .container
      .content
        .text
          p.title Генератор идей
          p.desc Найдите идеи для своих постов
        .btns
          button.btn-white.js-import-btn Импортировать товар
          button.btn-blue.js-add-func Добавить товар
  section.main-ideas-btns
    .container
      .btns
        button.btn-blue Доставка
        button.btn-white Приготовить
        button.btn-white Дома
  section.idea-cards
    .container
      .row
        .col-xl-4
          .idea-card.js-idea-card
            p.title Что пицца
            .content
              .lines
                .line
                  span.desc.js-idea зачем добавлять масло в пиццу…
                  span.num 512
                  .actions.js-actions
                    button В избранное
                    button Создать пост
                    button Идеи
                .line
                  span.desc.js-idea зачем добавлять масло в пиццу…
                  span.num 512
                  .actions.js-actions
                    button В избранное
                    button Создать пост
                    button Идеи
                .line
                  span.desc.js-idea зачем добавлять масло в пиццу…
                  span.num 512
                  .actions.js-actions
                    button В избранное
                    button Создать пост
                    button Идеи
                .line
                  span.desc.js-idea зачем добавлять масло в пиццу…
                  span.num 512
                  .actions.js-actions
                    button В избранное
                    button Создать пост
                    button Идеи
                .line
                  span.desc.js-idea зачем добавлять масло в пиццу…
                  span.num 512
                  .actions.js-actions
                    button В избранное
                    button Создать пост
                    button Идеи
                .line
                  span.desc.js-idea зачем добавлять масло в пиццу…
                  span.num 512
                  .actions.js-actions
                    button В избранное
                    button Создать пост
                    button Идеи
                .line
                  span.desc.js-idea зачем добавлять масло в пиццу…
                  span.num 512
                  .actions.js-actions
                    button В избранное
                    button Создать пост
                    button Идеи
                .line
                  span.desc.js-idea зачем добавлять масло в пиццу…
                  span.num 512
                  .actions.js-actions
                    button В избранное
                    button Создать пост
                    button Идеи