extends ./pug/layout/layout.pug

block vars
  -var page = 'projects';
  -var title = 'Projects';

block content
  section.active-projects
    .container
      .active-projects-top
        h1 Активные проекты:
        .right-side
          .show
            span.text Показывать
            span.icon-row.icon
            span.icon-blocks.icon
          button.btn-blue Создать проект
      .row
        .col-xl-3
          .project-item
            .title
              span.text Доставка цветов опт
              span.icon-settings.icon.js-btn-multilink-set
            img(src="./img/small-flower.jpg", alt="")
            .bottom
              span Обьем
              span.val 12 страниц
        .col-xl-3
          .project-item
            .title
              span.text Доставка цветов опт
              span.icon-settings.icon.js-btn-multilink-set
            img(src="./img/small-flower.jpg", alt="")
            .bottom
              span Обьем
              span.val 12 страниц
        .col-xl-3
          .project-item
            .title
              span.text Доставка цветов опт
              span.icon-settings.icon.js-btn-multilink-set
            img(src="./img/small-flower.jpg", alt="")
            .bottom
              span Обьем
              span.val 12 страниц
        .col-xl-3
          .project-item
            .title
              span.text Доставка цветов опт
              span.icon-settings.icon.js-btn-multilink-set
            img(src="./img/small-flower.jpg", alt="")
            .bottom
              span Обьем
              span.val 12 страниц
        .col-xl-3
          .project-item
            .title
              span.text Доставка цветов опт
              span.icon-settings.icon.js-btn-multilink-set
            img(src="./img/small-flower.jpg", alt="")
            .bottom
              span Обьем
              span.val 12 страниц

      .demo
        p Only for demo purposes
        button.js-btn-multilink-set Мультиссылка настройки
        button.js-btn-multilink-set-2 Мультиссылка настройки 2

  include ./pug/multilink.pug
  include ./pug/multilink-2.pug