extends ./pug/layout/layout.pug

block vars
  -var page = 'project-pages';
  -var title = 'Project-pages';

block content
  .container
    .top-header
      h1 Доставка цветов опт
      .btns
       button.btn-white Редактировать
       button.btn-blue Новая страница

    .custom-links
      .custom-link
        .custom-body
          span.text Главная
          .settings
            span.icon-copy.icon
            span.icon-settings.icon
            span.icon-del.icon
        .arrows
          .down.arrow
            span.icon-arrow-up
          .up.arrow
            span.icon-arrow-up
      .custom-link
        .custom-body
          span.text Главная
          .settings
            span.icon-copy.icon
            span.icon-settings.icon
            span.icon-del.icon
        .arrows
          .down.arrow
            span.icon-arrow-up
          .up.arrow
            span.icon-arrow-up
      .custom-link.sub-link
        .custom-body
          span.text Главная
          .settings
            span.icon-copy.icon
            span.icon-settings.icon
            span.icon-del.icon
        .arrows
          .down.arrow
            span.icon-arrow-up
          .up.arrow
            span.icon-arrow-up
      .custom-link.sub-link
        .custom-body
          span.text Главная
          .settings
            span.icon-copy.icon
            span.icon-settings.icon
            span.icon-del.icon
        .arrows
          .down.arrow
            span.icon-arrow-up
          .up.arrow
            span.icon-arrow-up

