extends ./pug/layout/layout.pug

block vars
  -var page = 'utm';
  -var title = 'Utm';

block content
  section
    .container
      h2 Only for demo purposes (registration)
      button.js-login-btn login (via js-login-btn)
      button.js-new-pass-btn new password (via js-new-pass-btn)
      button.js-reg-btn registration (via js-reg-btn)
      button.js-repair-btn repair password (via js-repair-btn)
  section.mobile-slider
    .slider-wrapper.js-slider-wrapper
      a(href="").item Статистика 
      a(href="").item.item_active Генератор UTM 
      a(href="").item Генератор диплинков
  section.main-utm-header
    .container
      .content
        .text
          p.title Генератор UTM
          p.desc Отслеживайте точную статистику
  section.deeplink
    .container
      .content
        p.title Готовая ссылка:
        .input-wrapper
          input(type="text", readonly="true").input
          button.btn-copy 
            span.icon-copy
  section.utm-site-link
    .container
      .content
        p.title Ссылка на сайт:
        .input-wrapper
          input(type="text", readonly="true").input
        p.subtitle Источник трафика:
        .checkboxes
          .shadow
            input#opt-1(type="checkbox", name="")
            label(for="opt-1") Произвольный
          .shadow
            input#opt-2(type="checkbox", name="")
            label(for="opt-2") Яндекс Директ
          .shadow
            input#opt-3(type="checkbox", name="")
            label(for="opt-3") Вконтакте
          .shadow
            input#opt-4(type="checkbox", name="")
            label(for="opt-4") Google Ad
          .shadow
            input#opt-5(type="checkbox", name="")
            label(for="opt-5") Instagram
          .shadow
            input#opt-6(type="checkbox", name="")
            label(for="opt-6") Facebook
        .options
          .opt-group
            .option
              p.subtitle Источник компании
              .input-wrapper
                .name utm_source
                input(type="text").value.input
            .option
              p.subtitle Тип трафика
              .input-wrapper
                .name utm_medium
                input(type="text").value.input
            .option
              p.subtitle Название кампании
              .input-wrapper
                .name utm_campaign
                input(type="text").value.input
              p.subtitle.subtitle_2 { * } - автоматическая подстановка ID кампании
          .opt-group
            .option
              p.subtitle Идентификатор объявления
              .input-wrapper
                .name utm_source
                input(type="text").value.input
              p.subtitle.subtitle_2 { * } - автоматическая подстановка ID кампании              
            .option
              p.subtitle Ключевое слово
              .input-wrapper
                .name utm_term
                input(type="text").value.input
        button.btn-blue.btn-add Добавить свое значение
  section.deeplink
    .container
      .content
        p.title Прошлые ссылки:
        .input-wrapper
          input(type="text", readonly="true").input
          .btns
            button.btn-copy.btn-copy_2
              span.icon-copy
            button.btn-copy 
              span.icon-del
        .input-wrapper
          input(type="text", readonly="true").input
          .btns
            button.btn-copy.btn-copy_2
              span.icon-copy
            button.btn-copy 
              span.icon-del
        .input-wrapper
          input(type="text", readonly="true").input
          .btns
            button.btn-copy.btn-copy_2
              span.icon-copy
            button.btn-copy 
              span.icon-del
  
  
  include ./pug/popups/_new-password.pug  
  include ./pug/popups/repair-password.pug  
  include ./pug/popups/registration.pug  
  include ./pug/popups/log-in.pug  


    
