-
  var links = [
    'Рабочий стол',
    'Мультиссылка',
    'Статистика',
    'Контент план',
    'Делегирование'
  ];

- 
  var links1 = {
    'Рабочий стол': [],
    'Мультиссылка': ['Создание мультиссылки', 'Товары', 'Прием платежей'],
    'Статистика': ['Статистика', 'Генератор UTM меток', 'Генератор диплинков'],
    'Контент план': [],
    'Делегирование': []
  }
aside.aside.js-aside
  .aside-links
    .aside-logo
      a(href="")
        img(src="./img/logo.png", alt="").logo
      .arrow.js-aside-hide
        span.icon-arrow-up
    -var i = 0;
    each item, index in links1
      -i++;
      .drop-link.js-drop-link
        .link-body
          img(src=`./img/aside-${i}.svg`, alt="").icon
          span.text= index
          img(src="./img/arrow-down.svg", alt="").arrow
        .drop-menu.js-drop-menu
          each link in item
            a(href="")= link
  .bottom-links
    a(href="").link-body
      span.icon-settings
      span.text Настройки
    a(href="").link-body
      img(src="./img/exit.svg", alt="")
      span.text Выход
          
