-
  var links = [
    'Рабочий стол',
    'Мультиссылка',
    'Статистика',
    'Контент план',
    'Делегирование'
  ];
aside.aside.js-aside
  .aside-links
    .aside-logo
      a(href="")
        img(src="./img/logo.png", alt="").logo
      .arrow.js-aside-hide
        span.icon-arrow-up
    -var i = 0;
    each item in links
      -i++;
      .drop-link.js-drop-link
        .link-body
          img(src=`./img/aside-${i}.svg`, alt="").icon
          span.text= item
          img(src="./img/arrow-down.svg", alt="").arrow
        .drop-menu.js-drop-menu
          a(href="") Создание мультиссылки
          a(href="") Товары
          a(href="") Прием платежей
  .bottom-links
    a(href="").link-body
      span.icon-settings
      span.text Настройки
    a(href="").link-body
      img(src="./img/exit.svg", alt="")
      span.text Выход
          
