.wrapper-function.js-wrapper-image-function
  .function-body.js-function-add-body
    .function-image
      .top  
        .text
          span.title Изображение
          span.desc Стиль блока
        img(src="./img/close.svg", alt="").close-func
      .bg-pic
        .background.input-wrapper
          span.placeholder Фон проекта
          input#color-4(type="color")
          label(for="color-4") 
            img(src="./img/bg.jpg", alt="")
        .background.input-wrapper
          span.placeholder Изображение
          input#picture-4(type="file")
          label(for="picture-4") 
            img(src="./img/pic.jpg", alt="")
      .shadow
        input#shadow-4(type="checkbox", name="")
        label(for="shadow-4") Тень
      .input-download
        .input-wrapper
          span.placeholder Ссылка на изображение
          input(type="text").input
        button.btn-blue Загрузить
      .input-download
        .input-wrapper
          span.placeholder Ссылка на изображение
          input(type="text").input
        button.btn-blue Загрузить
      .photos
        .input-wrapper
          .photo-big
            span.icon-settings.icon
            img(src="./img/photo.jpg", alt="")
        .input-wrapper
          .photo-big
            span.icon-settings.icon
            img(src="./img/photo.jpg", alt="")
      .btns
        button.btn-white Добавить изображение
        button.btn-blue Сохранить