.wrapper-function.js-wrapper-function-import
  .function-body-import.js-function-body
    .function-import
      .top  
        span.title Импорт товаров
        img(src="./img/close.svg", alt="").close-func-import
      p.load.
        Скачайте шаблон для загрузки товаров #[a(href="#") .xls .txt] 
      .input-load
        input#load(type="file")
        label(for="load")
          span Перетащите файл сюда
      .bottom
        button.btn-blue Загрузить товары (txt)
        button.btn-blue Загрузить товары (xls)