.wrapper-function.js-wrapper-mess-function
  .function-body.js-function-add-body
    .function-mess
      .top  
        .text
          span.title Мессенджеры
          span.desc Стиль блока
        img(src="./img/close.svg", alt="").close-func
      .bg-pic
        .background.input-wrapper
          span.placeholder Фон проекта
          input#color-4(type="color")
          label(for="color-4") 
            img(src="./img/bg.jpg", alt="")
        .background.input-wrapper
          span.placeholder Изображение
          input#picture-4(type="file")
          label(for="picture-4") 
            img(src="./img/pic.jpg", alt="")
      .shadow
        input#shadow-4(type="checkbox", name="")
        label(for="shadow-4") Тень
      .input-mess
        .input-wrapper
          span.placeholder Мессенджеры
          select(name="").js-select-mess
            option(value="social-1")
            option(value="social-2")
            option(value="social-3")
            option(value="social-4")
            option(value="social-5")
            option(value="social-6")
            option(value="social-7")
        .input-wrapper.input-name
          input(type="text").input
        span.del
          span.icon-del
      .bottom-bnts
        button.btn-white Добавить
        button.btn-blue Сохранить