.wrapper-function.js-wrapper-function-link
  .function-body-link.js-function-body
    .function-link.js-function-link
      .top  
        span.title Мультиссылка
        img(src="./img/close.svg", alt="").js-close-func-multilink
      p.subtitle Настройка проекта
      .content
        .visible-part
          .inputs
            .input-wrapper
              span.placeholder Название проекта
              input(type="text").input
            .input-wrapper
              span.placeholder Название минисайта
              input(type="text").input
            .input-wrapper.link
              span.placeholder Ваша ссылка
              input(type="text", readonly="true").input.js-copy-text
              span.copy.icon-copy.js-copy
              span.addition.js-add-settings Дополнительные настройки
          button.btn-blue.save Сохранить
        .invisible-part-wrapper.js-invisible-part-wrapper
          .invisible-part
            .font
              .input-wrapper
                span.placeholder Шрифт заголовков
                select(name="").js-select-menu
                  option(value="") Proxima Nova
                  option(value="") Proxima Nova
              .input-wrapper
                span.placeholder Шрифт основного текста
                select(name="").js-select-menu
                  option(value="") Proxima Nova
                  option(value="") Proxima Nova
              .bg-pic
                .background.input-wrapper
                  span.placeholder Фон проекта
                  input#color(type="color")
                  label(for="color") 
                    img(src="./img/bg.jpg", alt="")
                .background.input-wrapper
                  span.placeholder Изображение
                  input#picture(type="file")
                  label(for="picture") 
                    img(src="./img/pic.jpg", alt="")
            .font.font-weight
              .input-wrapper
                span.placeholder Начертание
                select(name="").js-select-menu
                  option(value="") Regular
                  option(value="") Regular
              .input-wrapper
                span.placeholder Начертание
                select(name="").js-select-menu
                  option(value="") Regular
                  option(value="") Regular
            .font.font-size
              .input-wrapper
                span.placeholder Размер
                select(name="").js-select-menu
                  option(value="") 42
                  option(value="") 42
              .input-wrapper
                span.placeholder Размер
                select(name="").js-select-menu
                  option(value="") 42
                  option(value="") 42
            span.addition.js-hide-settings Скрыть дополнительные настройки


