.wrapper-function.js-wrapper-function-link-2.js-mutlilink-sett-2
  .function-body-link-2.js-function-body
    .function-link-2
      .top  
        span.title Мультиссылка
        img(src="./img/close.svg", alt="").js-close-func-multilink
      p.subtitle Настройка проекта
      .inputs
        .input-wrapper
          span.placeholder Название страницы
          input(type="text").input
        .input-wrapper
          span.placeholder Название минисайта
          input(type="text").input
        .input-wrapper
          span.placeholder Расположение страницы
          select(name="").js-select-menu
            option(value="") Корневая папка
            option(value="") Корневая папка
        .input-wrapper
          span.placeholder Название страницы для ссылки:
          input(type="text").input
        .input-wrapper.link
          span.placeholder Ваша ссылка
          input(type="text", readonly="true").input.js-copy-text.error
          span.copy.icon-copy.js-copy
          .error-text.
            Некорректное имя аккаунта. Допустимо использовать только латинские буквы, цифры, знак подчеркивания («_»), точку («.»), минус («-»)
            
        button.btn-blue.save Сохранить
          