.wrapper-function.js-wrapper-pay-function
  .function-body.js-function-add-body
    .function-edit-pay
      .top  
        .text
          span.title Оплата
          span.desc Стиль блока
        img(src="./img/close.svg", alt="").close-func
      .bg-pic
        .background.input-wrapper
          span.placeholder Фон проекта
          input#color-pay(type="color")
          label(for="color-pay") 
            img(src="./img/bg.jpg", alt="")
        .background.input-wrapper
          span.placeholder Изображение
          input#picture-pay(type="file")
          label(for="picture-pay") 
            img(src="./img/pic.jpg", alt="")
      .shadow
        input#shadow-pay(type="checkbox", name="")
        label(for="shadow-pay") Тень
      .textarea
        p.subtitle Заголовок
        .text-settings
          .item.js-text-style(data-style="underline")
            span.icon-underline
          .item.js-text-align(data-text="left")
            spam.icon-paragraph-left
          .item.js-text-align(data-text="center")
            span.icon-paragraph-center
          .item.js-text-align(data-text="right")
            span.icon-paragraph-right
          .item.js-text-align(data-text="justify")
            span.icon-paragraph-justify
        .input-wrapper
          input.customize-text(type="text").input.title-input
        .input-wrapper
          span.placeholder Способ оплаты
          select(name="").js-select-menu
            option(value="") Яндекс деньги
            option(value="") Яндекс деньги
        .input-wrapper
          span.placeholder Стоимость
          input(type="text").input
      .shadow
        input#price(type="checkbox", name="")
        label(for="price") Покупатель может изменять цену
      .btns
        button.btn-blue Сохранить