.wrapper-function.js-wrapper-pixel-function
  .function-body.js-function-add-body
    .function-pixel
      .top  
        .text
          span.title Пиксель Facebook
        img(src="./img/close.svg", alt="").close-func
      .input-wrapper
        span.placeholder ID пикселя Facebook
        select(name="").js-select-menu
          option(value="") Розница
          option(value="") Розница
      .btns
        button.btn-blue Сохранить