.wrapper-function.js-wrapper-text-function
  .function-body.js-function-add-body
    .function-edit-text
      .top  
        .text
          span.title Текстовый блок
          span.desc Стиль блока
        img(src="./img/close.svg", alt="").close-func
      .bg-pic
        .background.input-wrapper
          span.placeholder Фон проекта
          input#color-2(type="color")
          label(for="color-2") 
            img(src="./img/bg.jpg", alt="")
        .background.input-wrapper
          span.placeholder Изображение
          input#picture-2(type="file")
          label(for="picture-2") 
            img(src="./img/pic.jpg", alt="")
      .shadow
        input#shadow-2(type="checkbox", name="")
        label(for="shadow-2") Тень
      .textarea
        p.subtitle Контент
        .text-settings
          .item.js-text-style(data-style="bold")
            span.icon-bold
          .item.js-text-style(data-style="italic")
            span.icon-italic
          .item.js-text-style(data-style="underline")
            span.icon-underline
          .item.js-text-align(data-text="left")
            span.icon-paragraph-left
          .item.js-text-align(data-text="center")
            span.icon-paragraph-center
          .item.js-text-align(data-text="right")
            span.icon-paragraph-right
          .item.js-text-align(data-text="justify")
            .icon-paragraph-justify
        textarea#text-block(name="")
        p.symbols 0 / 299
        button.btn-blue Сохранить