.wrapper-function.js-wrapper-text-function
  .function-body.js-function-add-body
    .function-edit-text
      .top  
        .text
          span.title Текстовый блок
          span.desc Стиль блока
        img(src="./img/close.svg", alt="").close-func
      .bg-pic
        .background.input-wrapper
          span.placeholder Фон проекта
          input#color-2(type="color")
          label(for="color-2") 
            img(src="./img/bg.jpg", alt="")
        .background.input-wrapper
          span.placeholder Изображение
          input#picture-2(type="file")
          label(for="picture-2") 
            img(src="./img/pic.jpg", alt="")
      .shadow
        input#shadow-2(type="checkbox", name="")
        label(for="shadow-2") Тень
      .textarea
        p.subtitle Контент
        .text-settings
          .item.js-text-style(@click="textStyle('bold', $event)" data-style="bold")
          .item.js-text-style(@click="textStyle('italic', $event)" data-style="italic")
          .item.js-text-style(@click="textStyle('underline', $event)" data-style="underline")
          .item.js-text-align(@click="textStylePos('left', $event)" data-text="left")
          .item.js-text-align(@click="textStylePos('center', $event)" data-text="center")
          .item.js-text-align(@click="textStylePos('right', $event)" data-text="right")
          .item.js-text-align(@click="textStylePos('justify', $event)" data-text="justify")
        textarea#text-block(name="", v-model="text", v-txtd:[textArg].align.style='')
        p.symbols {{text.length}} / 299
        button.btn-blue(@click="saveText") Сохранить