header.top-menu.js-top-menu
  .arrow-btn.js-aside-show
    span.icon-arrow-up
  a(href="").func-logo
    img(src="./img/logo.png", alt="")
  .container
    .top-menu-content
      .links
        a(href="").top-link.emp Инструменты
        a(href="").top-link Биржа рекламы
      .right-panel
        .tariff
          .top
            span.emp Тариф: Максимальный
            span 365 дней
          .progress-1
            span
        .notices
          .wrapper.js-notices
            img(src="./img/notice.svg", alt="")
            span 2
          .notices-drop.js-notices-drop
            .top
              p.title 7 Уведомлений
              img(src="./img/close.svg", alt="").close.js-close-notice
            .notice-item
              img(src="./img/photo.jpg", alt="")
              .text
                a(href="") История одного кота: Внезапно этот кот споймал мышь…..
                span 27 Ноября 2019 
            .notice-item.inactive
              img(src="./img/photo.jpg", alt="")
              .text
                a(href="") История одного кота: Внезапно этот кот споймал мышь…..
                span 27 Ноября 2019 
            .notice-item
              img(src="./img/photo.jpg", alt="")
              .text
                a(href="") История одного кота: Внезапно этот кот споймал мышь…..
                span 27 Ноября 2019 
            .notice-item
              img(src="./img/photo.jpg", alt="")
              .text
                a(href="") История одного кота: Внезапно этот кот споймал мышь…..
                span 27 Ноября 2019 
            a(href="").more Еще уведомления

        .profile
          .avatar.js-avatar-drop-btn
            img(src="./img/avatar.jpg", alt="").icon
            img(src="./img/arrow-down.svg", alt="").arrow
          .profile-drop.js-avatar-drop
            .drop-btn
              button.btn.btn-white Профиль
            .drop-btn
              button.btn.btn-white Тарифы
            .drop-btn
              button.btn.btn-white Выйти