header.top-menu.js-top-menu
  .arrow-btn.js-aside-show
    span.icon-arrow-up
  a(href="").func-logo
    img(src="./img/logo.png", alt="")
  .container
    .top-menu-content
      .links
        a(href="").top-link.emp Инструменты
        a(href="").top-link Биржа рекламы
      .right-panel
        .tariff
          .top
            span.emp Тариф: Максимальный
            span 365 дней
          .progress-1
            span
        .notices
          .wrapper
            img(src="./img/notice.svg", alt="")
            span 2
        .profile
          .avatar
            img(src="./img/avatar.jpg", alt="").icon
            img(src="./img/arrow-down.svg", alt="").arrow