doctype html
html(lang="ru")

  block vars
    -var page = '';
    -var title = '';
  include ../mixins/mixin.pug

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="base_asset_path", content="./")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:500,600&display=swap", rel="stylesheet")
    link(href="./libs/css/vendor.min.css", rel="stylesheet")
    link(href="./css/style.css", rel="stylesheet")
    title= title

  body
    .page(class='')
  
      //- Aside
      include ../aside.pug
      //- Aside
  
  
      main.main(class= `main-${page}`)
        .wrapper-notices
  
        //- Top menu
        include ../top-menu.pug
        //- Top menu
  
        block content
    



    script(src="./libs/js/vendor.min.js")
    script(src="./js/index.js")
  block script
    



