.popup-wrapper-reg.js-popup-wrapper-reg.js-reg
  .popup-body.js-popup-body
    .popup-form.popup-registration
      .top
        p.title Регистрация
        img(src="./img/close.svg", alt="").js-close-reg
      .input-wrapper
        input(type="text", placeholder="Электронная почта").input
      .input-wrapper
        input(type="text", placeholder="Пароль").input
      .input-wrapper
        input(type="text", placeholder="Повторите пароль").input
      .shadow
        input#reg(type="checkbox", name="")
        label(for="reg") #[span Cогласен с условиями #[a(href="#") политики конфиденциальности и Пользовательскому соглашению]]
      button.btn-blue.btn-add Войти
      a(href="").hasAcc Уже есть аккаунт