.popup-wrapper-reg.js-popup-wrapper-reg.js-repair
  .popup-body.js-popup-body
    .popup-form.popup-repair-password
      .top
        p.title Восстановление пароля
        img(src="./img/close.svg", alt="").js-close-reg
      .input-wrapper
        span.placeholder Email на который регистрировался аккаунт
        input(type="text").input
      p.desc-2 Мы выслали ссылку для создания нового пароля вам на email
      button.btn-blue.btn-add Перейти в почту (yandex.ru)