.main-edit
  padding-bottom: 65px
  background: #f4f5f8
  .wrapper-for-bg
    background: none
  .edit-top-btns
    padding: 63px 0 32px
  h2
    margin: 0
  .nav
    display: flex
    padding-left: 25px
    padding-right: 25px
    margin-bottom: 16px
    &-links
      margin: auto
  .content
    padding: 24px
    position: relative
    .sett
      border: none
      padding: 14px 16px
      font-weight: 600
      font-size: 16px
      line-height: 20px
      background: $white
      box-shadow: 0 8px 8px -4px rgba(20, 16, 41, 0.06), 0 2px 4px -1px rgba(20, 16, 41, 0.06), 0 0 1px rgba(20, 16, 41, 0.12)
      border-radius: 4px
      margin: 16px auto 0
      display: inherit
      cursor: pointer
    &.blue
      background: $blue
      color: $white
      .edit-item
        span
          color: $blue
      .sett
        color: $blue
    &.red
      background: #b01818
      color: $white
      .edit-item
        span
          color: #b01818
      .sett
        color: #b01818
  .edit-section
    box-shadow: 0 8px 8px -4px rgba(20, 16, 41, 0.06), 0 2px 4px -1px rgba(20, 16, 41, 0.06), 0 0 1px rgba(20, 16, 41, 0.12)
    background: $white
    border-radius: 24px
    .top-edit
      display: flex
      align-items: center
      justify-content: center
      width: 100%
      margin: 15px 0 36px 0
    .edit-text
      font-size: 12px
      line-height: 24px
      text-align: center
  &-header
    padding-bottom: 0
    .text-block
      padding: 24px
      position: relative
      
  &-contact
    padding-bottom: 0
    .separator-wrapper
      padding: 24px
      position: relative
      .separator
        margin-top: 0
  &-slider
    padding-bottom: 0
  &-video
    padding-bottom: 0
  &-sell
    padding-bottom: 0
    .edit-text
      margin-bottom: 16px
  &-cards
    padding-bottom: 0
    .edit-text
      margin-bottom: 16px
  &-footer
    padding-bottom: 0
    .edit-text
      margin-bottom: 16px
  &-site
    padding-bottom: 0
    .site
      display: inline-flex
      align-items: center
      justify-content: center
      width: 100%
      line-height: 20px
      background: $blue
      color: $white
      border-radius: 4px
      padding: 14px 
  .add-custom-block
    margin-bottom: 16px
    .content
      padding: 24px 47px
    .add-items
      display: flex
      align-items: center
      justify-content: space-between
      margin-top: 15px
    